## Background & Context

There is always a huge demand for used cars in developing economies, such as the Indian car market. As sales of new cars have slowed down in the recent past, the pre-owned car market has continued to grow over the past years and is larger than the new car market now. Cars4U is a budding Indian tech start-up that aims to find a good strategy in this market.

In 2018-19, while new car sales were recorded at 3.6 million units, around 4 million second-hand cars were bought and sold. There is a slowdown in new car sales and that could mean that the demand is shifting towards the pre-owned market. In fact, some car sellers replace their old cars with pre-owned cars instead of buying new ones. Unlike new cars, where price and supply are fairly deterministic and managed by OEMs (Original Equipment Manufacturer / except for dealership level discounts which come into play only in the last stage of the customer journey), used cars are very different beasts with huge uncertainty in both pricing and supply. Keeping this in mind, the pricing scheme of these used cars becomes important in order to grow in the market.

As a senior data scientist at Cars4U, you have to come up with a pricing model that can effectively predict the price of used cars and can help the business in devising profitable strategies using differential pricing. For example, if the business knows the market price, it will never sell anything below it. 

### **The objectives:**
* Explore and visualize the dataset.
* Build a model to predict the prices of used cars.
* Generate a set of insights and recommendations that will help the business.

### **The key questions:**
* Which factors would affect the price of used cars?

### **The problem formulation**:
We have a regression problem at hand where we will try to predict the price of used cars based on several factors such as - Year of manufacturing, Number of seats, Mileage of car, etc.

### **Data Dictionary**

**S.No.** : Serial Number

**Name** : Name of the car which includes Brand name and Model name

**Location** : The location in which the car is being sold or is available for purchase (Cities)

**Year** : Manufacturing year of the car

**Kilometers_driven** : The total kilometers driven in the car by the previous owner(s) in KM.

**Fuel_Type** : The type of fuel used by the car. (Petrol, Diesel, Electric, CNG, LPG)

**Transmission** : The type of transmission used by the car. (Automatic / Manual)

**Owner** : Type of ownership

**Mileage** : The standard mileage offered by the car company in kmpl or km/kg

**Engine** : The displacement volume of the engine in CC.

**Power** : The maximum power of the engine in bhp.

**Seats** : The number of seats in the car.

**New_Price** : The price of a new car of the same model in INR 100,000 (INR = Indian Rupee)

**Price** : The price of the used car in INR 100,000 (**Target Variable**)

In [1]:
# importing necessary libraries

# data wrangling
import pandas as pd
import numpy as np

# data visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# import libraries to build linear model for statistical analysis and prediction
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import train_test_split

# metrics to evaluate de model
from sklearn import metrics

# for tunig the model 
from sklearn.model_selection import GridSearchCV

# to ignore warinings
import warnings
warnings.filterwarnings('ignore')

# to remove the limit from the number of displayed rows and columns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)

In [2]:
# loading and exploring data
df = pd.read_csv('used_cars_data.csv')
print('shape:',df.shape)
df.head()

shape: (7253, 14)

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

`S.No.` is just an index for the data entry. In all likelihood, this column will not be a significant factor in determining the price of the car. 
Having said that, there are instances where the index of the data entry contains the information about time factor (an entry with a smaller index corresponds to data entered years ago). Therefore, we will not drop this variable just yet. Let us see if there is any relationship with the price when we do bivariate analysis.

`Car names` contain a lot of model information. Let us check how many individual names we have. If they are too many, we can process this column to extract important information.

`Mileage`, `Engine` and `Power` will also need some processing before we are able to explore them. We'll have to extract numerical information from these columns.

`New Price` column also needs some processing. This one also contains strings and a lot of missing values.

In [3]:
# dataframe information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              7253 non-null   int64
 1   Name               7253 non-null   object
 2   Location           7253 non-null   object
 3   Year               7253 non-null   int64
 4   Kilometers_Driven  7253 non-null   int64
 5   Fuel_Type          7253 non-null   object
 6   Transmission       7253 non-null   object
 7   Owner_Type         7253 non-null   object
 8   Mileage            7251 non-null   object
 9   Engine             7207 non-null   object
 10  Power              7207 non-null   object
 11  Seats              7200 non-null   float64
 12  New_Price          1006 non-null   object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 793.4+ KB

As expected, `Mileage`, `Engine`, `Power` and `New_Price` are objects when they should ideally be numerical. To be able to get summary statistics for these columns, We will have to process them first.

### Processing Columns

#### 1. Mileage

- We have car mileage in two units, kmpl and km/kg.

- After a quick research on the internet it is clear that these 2 units are used for cars of 2 different fuel types.

- kmpl - kilometers per litre - is used for petrol and diesel cars.
 -km/kg - kilometers per kg - is used for CNG and LPG based engines.

- We have the variable `Fuel_type` in our data. 

Let us check if this observations holds true in our data also.

In [4]:
# create 2 now columns after splitting the mileage column
km_per_unit_fuel = []
mileage_unit = []

for row in df['Mileage']:
    # check if row is a string
    if isinstance(row, str):
        # check if row is in the necessary format for automated processing
        if (row.split(' ')[0].replace('.','',1).isdigit() # first element must be numeric
            and ' ' in row # there's a space between the number and mileage unit
            and (row.split(' ')[1] == 'kmpl' 
                 or row.split(' ')[1] == 'km/kg') # the mileage unit is like the expected
        ):
            km_per_unit_fuel.append(row.split(' ')[0])
            mileage_unit.append(row.split(' ')[1])
        else:
            # To detect if there are any observations in the column that do not follow 
            # the expected format [number + ' ' + 'kmpl' or 'km/kg']
            print('The data needs further processing, all the values are not similar',row)
    else:
        # If there are any missing values in the mileage column, we add corresponding missing values to the 2 new columns
        km_per_unit_fuel.append(np.nan)
        mileage_unit.append(np.nan)

In [5]:
# No print output from the function above. The values are all in the expected format or NaNs
# Add the new columns to the data

df["km_per_unit_fuel"] = km_per_unit_fuel
df["mileage_unit"] = mileage_unit

# Checking the new dataframe
df.head()

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,km_per_unit_fuel,mileage_unit
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,26.6,km/kg
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,19.67,kmpl
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,18.2,kmpl
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,20.77,kmpl
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,15.2,kmpl

In [6]:
# Let us check if the units correspond to the fuel types as expected.
df.groupby(['Fuel_Type','mileage_unit']).size()

Fuel_Type  mileage_unit
CNG        km/kg             62
Diesel     kmpl            3852
LPG        km/kg             12
Petrol     kmpl            3325
dtype: int64

As expected, km/kg is for CNG/LPG cars and kmpl is for Petrol and Diesel cars.

#### 2. Engine 

The data dictionary suggests that `Engine` indicates the displacement volume of the engine in CC.
We will make sure that all the observations follow the same format - [numeric + " " + "CC"] and create a new numeric column from this column. 

This time, lets use a regex to make all the necessary checks.

- Regular Expressions, also known as **“regex”**, are used to match strings of text such as particular characters, words, or patterns of characters. It means that we can match and extract any string pattern from the text with the help of regular expressions.

In [7]:
# re module provides support for regex
import re

# create a new columns after splitting the engine values
engine_num = []

# regex for numeric + '' + 'cc' format
regex_engine = "^\d+(\.\d+)? CC$"

for row in df['Engine']:
    # check if row is string
    if isinstance(row, str):
        if re.match(regex_engine, row):
            engine_num.append(float(row.split(' ')[0]))
        else:
            # To detect if there are any observations in the column that do not follow [numeric + " " + "CC"]  format
            print('The data needs further processing, all the values are not similar',row)
    else:
        # If there are any missing values in the engine column, we add missing values to the new column
        engine_num.append(np.nan)

In [8]:
# No print output from the function above. The values are all in the same format - [numeric + " " + "CC"] OR NaNs
# Add the new column to the data

df["engine_num"] = engine_num

# Checking the new dataframe
df.head()

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,km_per_unit_fuel,mileage_unit,engine_num
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,26.6,km/kg,998.0
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,19.67,kmpl,1582.0
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,18.2,kmpl,1199.0
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,20.77,kmpl,1248.0
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,15.2,kmpl,1968.0

#### 3. Power 

The data dictionary suggests that `Power` indicates the maximum power of the engine in bhp.
We will make sure that all the observations follow the same format - [numeric + " " + "bhp"] and create a new numeric column from this column, like we did for `Engine`

In [9]:
# Create a new column after splitting the power values.
power_num = []

# Regex for numeric + " " + "bhp"  format
regex_power = "^\d+(\.\d+)? bhp$"

for row in df['Power']:
    if isinstance(row, str):
        if re.match(regex_power, row):
            power_num.append(float(row.split(' ')[0]))
        else:
            # To detect if there are any observations in the column that do not follow [numeric + " " + "bhp"]  format
            print('The data needs further processing, all the values are not similar',row)
    else:
        power_num.append(np.nan)

The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp
The data needs further processing, all the values are not similar null bhp

We can see that some Null values in power column exist as 'null bhp' string.
Let us replace these with NaNs

In [11]:
power_num = []

for row in df['Power']:
    if isinstance(row, str):
        if re.match(regex_power, row):
            power_num.append(float(row.split(' ')[0]))
        else:
            power_num.append(np.nan)
    else:
        # If there are any missing values in the power column, we add missing values to the new column
        power_num.append(np.nan)
        
# add new column to the data
df['power_num'] = power_num

# Checking the new dataframe
df.head()

,S.No.,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,km_per_unit_fuel,mileage_unit,engine_num,power_num
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75,26.6,km/kg,998.0,58.16
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50,19.67,kmpl,1582.0,126.20
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50,18.2,kmpl,1199.0,88.70
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00,20.77,kmpl,1248.0,88.76
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74,15.2,kmpl,1968.0,140.80